In [88]:
# 1 Revenue from Forest Resources

In [2]:
from IPython.display import IFrame
Forest="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison"
IFrame(Forest, width=690, height=12486)

In [10]:
import pandas as pd

ForestTable=pd.read_html(Forest,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [4]:
type(ForestTable)

list

In [5]:
len(ForestTable)

1

In [6]:
type(ForestTable[0])

pandas.core.frame.DataFrame

In [11]:
ForestTable[0]

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                    Tuvalu      0.00           2018 est.
200   201      United Arab Emirates      0.00           2018 est.
201   202                Uzbekistan      0.00           2018 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                 West Bank      0.00           2018 est.

[204 rows x 4 columns]

In [8]:
ForestTable[2]

IndexError: list index out of range

In [12]:
DFforest=ForestTable[0].copy()

In [13]:
DFforest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [14]:
DFforest.columns.to_list()

['Rank', 'Country', '% of GDP', 'Date of Information']

In [16]:
bye=[3]
DFforest.drop(columns=DFforest.columns[bye],inplace=True)
DFforest

     Rank                   Country  % of GDP
0       1           Solomon Islands     20.27
1       2                   Liberia     13.27
2       3                   Burundi     10.31
3       4             Guinea-Bissau      9.24
4       5  Central African Republic      8.99
..    ...                       ...       ...
199   200                    Tuvalu      0.00
200   201      United Arab Emirates      0.00
201   202                Uzbekistan      0.00
202   203            Virgin Islands      0.00
203   204                 West Bank      0.00

[204 rows x 3 columns]

In [17]:
DFforest.columns.to_list()

['Rank', 'Country', '% of GDP']

In [18]:
stripSeveral=lambda x: x.str.strip()

In [19]:
DFforest.apply(stripSeveral)

AttributeError: Can only use .str accessor with string values!

In [21]:
DFforest.iloc[:,1]

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [22]:
DFforest.iloc[:,0]

0        1
1        2
2        3
3        4
4        5
      ...
199    200
200    201
201    202
202    203
203    204
Name: Rank, Length: 204, dtype: int64

In [37]:
DFforest.dtypes

Rank          int64
Country      object
% of GDP    float64
dtype: object

In [36]:
DFforest.iloc[:,1:].apply(lambda x:print(x.dtype))

object
float64

Country     None
% of GDP    None
dtype: object

In [38]:
stripSeveral=lambda x: x.strip()
DFforest.iloc[:,1].apply(stripSeveral)

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [39]:
DFforest.iloc[:,1]=DFforest.iloc[:,1].apply(stripSeveral)

In [41]:
DFforest.iloc[:,1]

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [42]:
DFforest.Regimetype.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Regimetype'

In [ ]:
DFforest.

In [52]:
FQtablecounts=DFforest.value_counts()
FQtablecounts

Rank  Country          % of GDP
1     Solomon Islands  20.27       1
141   Japan            0.02        1
131   United States    0.04        1
132   Yemen            0.04        1
133   Dominica         0.03        1
                                  ..
71    Indonesia        0.39        1
72    Cabo Verde       0.38        1
73    Serbia           0.38        1
74    Angola           0.36        1
204   West Bank        0.00        1
Length: 204, dtype: int64

In [90]:
# I didn't do anything with the frequency table/erasing rows with similar values with one count because Python/Jupyter is not recognizing "Regimetype"

In [49]:
DFforest.iloc[:,2]

0      20.27
1      13.27
2      10.31
3       9.24
4       8.99
       ...
199     0.00
200     0.00
201     0.00
202     0.00
203     0.00
Name: % of GDP, Length: 204, dtype: float64

In [55]:
FQtablecounts[FQtablecounts==1]

Rank  Country          % of GDP
1     Solomon Islands  20.27       1
141   Japan            0.02        1
131   United States    0.04        1
132   Yemen            0.04        1
133   Dominica         0.03        1
                                  ..
71    Indonesia        0.39        1
72    Cabo Verde       0.38        1
73    Serbia           0.38        1
74    Angola           0.36        1
204   West Bank        0.00        1
Length: 204, dtype: int64

In [56]:
badLevels=FQtablecounts[FQtablecounts==1].index.to_list()
badLevels

[(1, 'Solomon Islands', 20.27),
 (141, 'Japan', 0.02),
 (131, 'United States', 0.04),
 (132, 'Yemen', 0.04),
 (133, 'Dominica', 0.03),
 (134, 'Dominican Republic', 0.03),
 (135, 'France', 0.03),
 (136, 'Germany', 0.03),
 (137, 'Tonga', 0.03),
 (138, 'Azerbaijan', 0.02),
 (139, 'Belgium', 0.02),
 (140, 'Denmark', 0.02),
 (142, 'Jordan', 0.02),
 (129, 'Trinidad and Tobago', 0.05),
 (143, 'Micronesia, Federated States of', 0.02),
 (144, 'Saint Vincent and the Grenadines', 0.02),
 (145, 'Spain', 0.02),
 (146, 'Bahamas, The', 0.01),
 (147, 'Barbados', 0.01),
 (148, 'Greece', 0.01),
 (149, 'Iran', 0.01),
 (150, 'Ireland', 0.01),
 (151, 'Italy', 0.01),
 (152, 'Korea, South', 0.01),
 (130, 'Kiribati', 0.04),
 (128, 'Norway', 0.05),
 (2, 'Liberia', 13.27),
 (115, 'Argentina', 0.09),
 (105, 'Australia', 0.13),
 (106, 'Morocco', 0.13),
 (107, 'Portugal', 0.13),
 (108, 'Timor-Leste', 0.13),
 (109, 'Peru', 0.12),
 (110, 'Algeria', 0.1),
 (111, 'Colombia', 0.1),
 (112, 'Hungary', 0.1),
 (113, 'Mexico', 0.1),
 (114, 'Pakistan', 0.1),
 (116, 'Seychelles', 0.09),
 (127, 'Brunei', 0.05),
 (117, 'Bangladesh', 0.08),
 (118, 'Canada', 0.08),
 (119, 'China', 0.08),
 (120, 'Panama', 0.08),
 (121, 'Turkey (Turkiye)', 0.08),
 (122, 'Austria', 0.07),
 (123, 'Georgia', 0.07),
 (124, 'Cuba', 0.06),
 (125, 'Libya', 0.06),
 (126, 'Sri Lanka', 0.06),
 (153, 'Kyrgyzstan', 0.01),
 (154, 'Luxembourg', 0.01),
 (155, 'Netherlands', 0.01),
 (192, 'Puerto Rico', 0.0),
 (182, 'Macau', 0.0),
 (183, 'Maldives', 0.0),
 (184, 'Malta', 0.0),
 (185, 'Marshall Islands', 0.0),
 (186, 'Mauritius', 0.0),
 (187, 'Monaco', 0.0),
 (188, 'Nauru', 0.0),
 (189, 'Northern Mariana Islands', 0.0),
 (190, 'Oman', 0.0),
 (191, 'Palau', 0.0),
 (193, 'Qatar', 0.0),
 (156, 'Saint Lucia', 0.01),
 (194, 'Saint Kitts and Nevis', 0.0),
 (195, 'San Marino', 0.0),
 (196, 'Saudi Arabia', 0.0),
 (197, 'Singapore', 0.0),
 (198, 'Turkmenistan', 0.0),
 (199, 'Turks and Caicos Islands', 0.0),
 (200, 'Tuvalu', 0.0),
 (201, 'United Arab Emirates', 0.0),
 (202, 'Uzbekistan', 0.0),
 (203, 'Virgin Islands', 0.0),
 (181, 'Liechtenstein', 0.0),
 (180, 'Lebanon', 0.0),
 (179, 'Kuwait', 0.0),
 (178, 'Kosovo', 0.0),
 (157, 'Switzerland', 0.01),
 (158, 'United Kingdom', 0.01),
 (159, 'American Samoa', 0.0),
 (160, 'Andorra', 0.0),
 (161, 'Antigua and Barbuda', 0.0),
 (162, 'Aruba', 0.0),
 (163, 'Bahrain', 0.0),
 (164, 'Cayman Islands', 0.0),
 (165, 'Curacao', 0.0),
 (166, 'Cyprus', 0.0),
 (167, 'Faroe Islands', 0.0),
 (168, 'Gaza Strip', 0.0),
 (169, 'Greenland', 0.0),
 (170, 'Grenada', 0.0),
 (171, 'Guam', 0.0),
 (172, 'Hong Kong', 0.0),
 (173, 'Iceland', 0.0),
 (174, 'Iraq', 0.0),
 (175, 'Isle of Man', 0.0),
 (176, 'Israel', 0.0),
 (177, 'Kazakhstan', 0.0),
 (104, 'Mongolia', 0.14),
 (103, 'India', 0.14),
 (102, 'North Macedonia', 0.15),
 (38, 'Burma', 1.69),
 (28, 'Gambia, The', 2.47),
 (29, 'Suriname', 2.36),
 (30, 'Eswatini', 2.25),
 (31, 'Benin', 2.24),
 (32, 'Tanzania', 2.19),
 (33, 'Papua New Guinea', 2.08),
 (34, "Cote d'Ivoire", 2.04),
 (35, 'Mali', 2.02),
 (36, 'Sao Tome and Principe', 1.9),
 (37, 'Bhutan', 1.89),
 (39, 'Zimbabwe', 1.61),
 (51, 'Tajikistan', 1.12),
 (40, 'Malaysia', 1.57),
 (41, 'Uruguay', 1.56),
 (42, 'Equatorial Guinea', 1.52),
 (43, 'Vietnam', 1.49),
 (44, 'Laos', 1.48),
 (45, 'Senegal', 1.46),
 (46, 'Comoros', 1.39),
 (47, 'Kenya', 1.3),
 (48, 'Mauritania', 1.3),
 (49, 'Nicaragua', 1.26),
 (27, 'Cameroon', 2.5),
 (26, 'Gabon', 2.6),
 (25, 'South Sudan', 2.65),
 (24, 'Sudan', 3.01),
 (3, 'Burundi', 10.31),
 (4, 'Guinea-Bissau', 9.24),
 (5, 'Central African Republic', 8.99),
 (6, 'Congo, Democratic Republic of the', 8.72),
 (7, 'Uganda', 7.32),
 (8, 'Sierra Leone', 6.92),
 (9, 'Mozambique', 6.46),
 (10, 'Malawi', 6.19),
 (11, 'Ethiopia', 5.81),
 (12, 'Guinea', 4.81),
 (13, 'Guyana', 4.56),
 (14, 'Burkina Faso', 4.54),
 (15, 'Zambia', 4.45),
 (16, 'Niger', 4.41),
 (17, 'Madagascar', 4.34),
 (18, 'Togo', 3.96),
 (19, 'Chad', 3.81),
 (20, 'Rwanda', 3.75),
 (21, 'Ghana', 3.51),
 (22, 'Lesotho', 3.34),
 (23, 'Congo, Republic of the', 3.17),
 (50, 'Paraguay', 1.21),
 (52, 'Belarus', 1.02),
 (101, 'Jamaica', 0.15),
 (89, 'Bulgaria', 0.22),
 (79, 'Belize', 0.31),
 (80, 'Lithuania', 0.31),
 (81, 'Russia', 0.29),
 (82, 'Armenia', 0.28),
 (83, 'Ecuador', 0.27),
 (84, 'Samoa', 0.27),
 (85, 'Croatia', 0.26),
 (86, 'Djibouti', 0.26),
 (87, 'Moldova', 0.26),
 (88, 'Botswana', 0.23),
 (90, 'Slovakia', 0.22),
 (53, 'Nigeria', 1.02),
 (91, 'Sweden', 0.21),
 (92, 'Tunisia', 0.21),
 (93, 'Afghanistan', 0.2),
 (94, 'Slovenia', 0.2),
 (95, 'Albania', 0.18),
 (96, 'Philippines', 0.18),
 (97, 'Czechia', 0.17),
 (98, 'Poland', 0.17),
 (99, 'Romania', 0.16),
 (100, 'Egypt', 0.15),
 (78, 'Bolivia', 0.33),
 (77, 'Ukraine', 0.34),
 (76, 'Thailand', 0.34),
 (75, 'Finland', 0.36),
 (54, 'Honduras', 0.91),
 (55, 'Estonia', 0.85),
 (56, 'Latvia', 0.85),
 (57, 'Cambodia', 0.84),
 (58, 'Costa Rica', 0.82),
 (59, 'Guatemala', 0.78),
 (60, 'Haiti', 0.68),
 (61, 'Brazil', 0.62),
 (62, 'El Salvador', 0.6),
 (63, 'Fiji', 0.59),
 (64, 'Vanuatu', 0.54),
 (65, 'New Zealand', 0.5),
 (66, 'Bosnia and Herzegovina', 0.49),
 (67, 'Chile', 0.49),
 (68, 'Namibia', 0.47),
 (69, 'Nepal', 0.45),
 (70, 'Montenegro', 0.43),
 (71, 'Indonesia', 0.39),
 (72, 'Cabo Verde', 0.38),
 (73, 'Serbia', 0.38),
 (74, 'Angola', 0.36),
 (204, 'West Bank', 0.0)]

In [57]:
DFforest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [58]:
DFforest.columns.str.lower()

Index(['rank', 'country', '% of gdp'], dtype='object')

In [59]:
DFforest.columns.str.upper()

Index(['RANK', 'COUNTRY', '% OF GDP'], dtype='object')

In [60]:
DFforest.Regimetype.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Regimetype'

In [61]:
DFforest.to_csv("ForestRev.csv",index=False)

In [62]:
ForestRev=pd.read_csv('ForestRev.csv')
ForestRev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [63]:
DFforest.to_pickle("Forestpkl.pkl")
Forestpkl=pd.read_pickle('Forestpkl.pkl')
Forestpkl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [81]:
# I am not seeing a difference between the pickle and csv file. ?

In [89]:
# 2 Revenue from Coal Resources

In [67]:
from IPython.display import IFrame
Coal="https://www.cia.gov/the-world-factbook/field/revenue-from-coal/country-comparison"
IFrame(Coal, width=690, height=12486)

In [69]:
coalTable=pd.read_html(Coal,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [70]:
coalTable[0]

     Rank               Country  % of GDP Date of Information
0       1              Mongolia      8.62           2018 est.
1       2            Mozambique      4.17           2018 est.
2       3          South Africa      2.40           2018 est.
3       4                 India      1.15           2018 est.
4       5             Indonesia      1.06           2018 est.
..    ...                   ...       ...                 ...
181   182  United Arab Emirates      0.00           2018 est.
182   183        United Kingdom      0.00           2018 est.
183   184               Uruguay      0.00           2018 est.
184   185               Vanuatu      0.00           2018 est.
185   186                 Yemen      0.00           2018 est.

[186 rows x 4 columns]

In [71]:
DFcoal=coalTable[0].copy()

In [72]:
DFcoal.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [73]:
byecoal=[3]
DFcoal.drop(columns=DFcoal.columns[byecoal],inplace=True)
DFcoal

     Rank               Country  % of GDP
0       1              Mongolia      8.62
1       2            Mozambique      4.17
2       3          South Africa      2.40
3       4                 India      1.15
4       5             Indonesia      1.06
..    ...                   ...       ...
181   182  United Arab Emirates      0.00
182   183        United Kingdom      0.00
183   184               Uruguay      0.00
184   185               Vanuatu      0.00
185   186                 Yemen      0.00

[186 rows x 3 columns]

In [74]:
# should I change the "%" or is it ok to keep?

In [75]:
DFcoal.iloc[:,1].apply(stripSeveral)

0                  Mongolia
1                Mozambique
2              South Africa
3                     India
4                 Indonesia
               ...
181    United Arab Emirates
182          United Kingdom
183                 Uruguay
184                 Vanuatu
185                   Yemen
Name: Country, Length: 186, dtype: object

In [76]:
DFcoal.iloc[:,1]

0                  Mongolia
1                Mozambique
2              South Africa
3                     India
4                 Indonesia
               ...
181    United Arab Emirates
182          United Kingdom
183                 Uruguay
184                 Vanuatu
185                   Yemen
Name: Country, Length: 186, dtype: object

In [79]:
DFcoal.iloc[:,:3]

     Rank               Country  % of GDP
0       1              Mongolia      8.62
1       2            Mozambique      4.17
2       3          South Africa      2.40
3       4                 India      1.15
4       5             Indonesia      1.06
..    ...                   ...       ...
181   182  United Arab Emirates      0.00
182   183        United Kingdom      0.00
183   184               Uruguay      0.00
184   185               Vanuatu      0.00
185   186                 Yemen      0.00

[186 rows x 3 columns]

In [80]:
FQtablecountscoal=DFcoal.value_counts()
FQtablecountscoal

Rank  Country   % of GDP
1     Mongolia  8.62        1
128   Liberia   0.00        1
119   Japan     0.00        1
120   Jordan    0.00        1
121   Kenya     0.00        1
                           ..
65    Belgium   0.00        1
66    Belize    0.00        1
67    Benin     0.00        1
68    Bhutan    0.00        1
186   Yemen     0.00        1
Length: 186, dtype: int64

In [82]:
DFcoal.iloc[:,2]

0      8.62
1      4.17
2      2.40
3      1.15
4      1.06
       ...
181    0.00
182    0.00
183    0.00
184    0.00
185    0.00
Name: % of GDP, Length: 186, dtype: float64

In [83]:
DFcoal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      186 non-null    int64
 1   Country   186 non-null    object
 2   % of GDP  186 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.5+ KB

In [84]:
DFcoal.columns.str.lower()

Index(['rank', 'country', '% of gdp'], dtype='object')

In [85]:
DFcoal.columns.str.upper()

Index(['RANK', 'COUNTRY', '% OF GDP'], dtype='object')

In [86]:
DFcoal.to_csv("CoalRev.csv",index=False)

In [91]:
# 3 Energy Consumption per Capita

In [92]:
from IPython.display import IFrame
energy="https://www.cia.gov/the-world-factbook/field/energy-consumption-per-capita/country-comparison"
IFrame(energy, width=690, height=13006)

In [93]:
energyTable=pd.read_html(energy,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [94]:
energyTable[0]

,Rank,Country,Btu/person,Date of Information
0,1,Qatar,723582000.0,2019 est.
1,2,Singapore,639951000.0,2019 est.
2,3,Bahrain,547976000.0,2019 est.
3,4,United Arab Emirates,471788000.0,2019 est.
4,5,Brunei,415184000.0,2019 est.
...,...,...,...,...
207,208,"Saint Helena, Ascension, and Tristan da Cunha",0.0,2019 est.
208,209,Saint Pierre and Miquelon,0.0,2019 est.
209,210,Turks and Caicos Islands,0.0,2019 est.
210,211,Tuvalu,0.0,2019 est.
211,212,Wake Island,0.0,2019 est.