In [1]:
# 1 Revenue from Forest Resources
ForestLink="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison"

# 2 Revenue from Coal Resources

CoalLink="https://www.cia.gov/the-world-factbook/field/revenue-from-coal/country-comparison"

# 3 Energy Consumption per Capita
EnergyLink="https://www.cia.gov/the-world-factbook/field/energy-consumption-per-capita/country-comparison"

# 4 Carbon Dioxide Emissions
CO2Link="https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison"

# 5 Refined Petroleum Production
PetroleumLink="https://www.cia.gov/the-world-factbook/field/refined-petroleum-products-production/country-comparison"

import pandas as pd

ForestTable=pd.read_html(ForestLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'}) 

CoalTable=pd.read_html(CoalLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

EnergyTable=pd.read_html(EnergyLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

CO2Table=pd.read_html(CO2Link,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

PetroleumTable=pd.read_html(PetroleumLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

In [2]:
len(ForestTable), len(CoalTable), len(EnergyTable), len(CO2Table), len(PetroleumTable)

(1, 1, 1, 1, 1)

In [4]:
forest=ForestTable[0].copy()
coal=CoalTable[0].copy()
energy=EnergyTable[0].copy()
co2=CO2Table[0].copy()
petroleum=PetroleumTable[0].copy()

In [6]:
forest.columns, coal.columns, energy.columns, co2.columns, petroleum.columns

(Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', 'Btu/person', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', 'metric tonnes of CO2', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', 'bbl/day', 'Date of Information'], dtype='object'))

In [8]:
bye=['Rank', 'Date of Information']
forest.drop(columns=bye, inplace=True)
coal.drop(columns=bye, inplace=True)
energy.drop(columns=bye, inplace=True)
co2.drop(columns=bye, inplace=True)
petroleum.drop(columns=bye, inplace=True)

In [9]:
forest.columns, coal.columns, energy.columns, co2.columns, petroleum.columns

(Index(['Country', '% of GDP'], dtype='object'),
 Index(['Country', '% of GDP'], dtype='object'),
 Index(['Country', 'Btu/person'], dtype='object'),
 Index(['Country', 'metric tonnes of CO2'], dtype='object'),
 Index(['Country', 'bbl/day'], dtype='object'))

In [25]:
forest.rename(columns={'% of GDP':'Forest Revenue'}, inplace=True)
coal.rename(columns={'% of GDP':'Coal Revenue'}, inplace=True)
energy.rename(columns={'Btu/person':'Energy Consumption'}, inplace=True)
co2.rename(columns={'metric tonnes of CO2':'Metric Tons of CO2'}, inplace=True)
petroleum.rename(columns={'bbl/day':'Barrels per Day of Petroleum'}, inplace=True)

In [20]:
forest.info(),
coal.info(),
energy.info(),
co2.info(),
petroleum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         204 non-null    object
 1   Forest Revenue  204 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       186 non-null    object
 1   Coal Revenue  186 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             212 non-null    object
 1   Energy Consumption  212 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               218 non-null    object
 1   metric tonnes of CO2  218 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  216 non-null    object
 1   bbl/day  216 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.5+ KB

In [21]:
forest.Country=forest.Country.str.strip()
coal.Country=coal.Country.str.strip()
energy.Country=energy.Country.str.strip()
co2.Country=co2.Country.str.strip()
petroleum.Country=petroleum.Country.str.strip()

In [22]:
forest.shape, coal.shape, energy.shape, co2.shape, petroleum.shape

((204, 2), (186, 2), (212, 2), (218, 2), (216, 2))

In [23]:
coal.merge(forest).merge(energy).merge(co2).merge(petroleum).shape

(181, 6)

In [26]:
combined=coal.merge(forest).merge(energy).merge(co2).merge(petroleum)
combined

,Country,Coal Revenue,Forest Revenue,Energy Consumption,Metric Tons of CO2,Barrels per Day of Petroleum
0,Mongolia,8.62,0.14,83045000.0,2.274000e+07,0
1,Mozambique,4.17,6.46,8107000.0,7.753000e+06,0
2,India,1.15,0.14,23231000.0,2.314738e+09,4897000
3,Indonesia,1.06,0.39,29680000.0,5.635430e+08,950000
4,Kazakhstan,0.99,0.00,180726000.0,2.636890e+08,290700
...,...,...,...,...,...,...
176,United Arab Emirates,0.00,0.00,471788000.0,2.762360e+08,943500
177,United Kingdom,0.00,0.01,119894000.0,3.980840e+08,1290000
178,Uruguay,0.00,1.56,66909000.0,6.450000e+06,42220
179,Vanuatu,0.00,0.54,10878000.0,2.250000e+05,0
180,Yemen,0.00,0.04,5453000.0,1.015800e+07,20180

In [27]:
set(coal.Country)-set(energy.Country)

{'Curacao', 'Greenland', 'Iceland', 'Trinidad and Tobago'}

In [28]:
set(coal.Country)-set(forest.Country)

{'South Africa'}

In [29]:
(set(energy.Country)-set(coal.Country)) & (set(forest.Country)-set(coal.Country))

{'Aruba',
 'Egypt',
 'Faroe Islands',
 'Gaza Strip',
 'Laos',
 'Micronesia, Federated States of',
 'Nauru',
 'Northern Mariana Islands',
 'South Sudan',
 'Tuvalu',
 'West Bank'}

In [30]:
combined.to_csv('combinedset.csv', index=False)