In [34]:
# 1 Revenue from Forest Resources

In [4]:
from IPython.display import IFrame
Forest="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison"
IFrame(Forest, width=690, height=12486)

In [5]:
import pandas as pd

ForestTable=pd.read_html(Forest,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [6]:
type(ForestTable)

list

In [7]:
len(ForestTable)

1

In [8]:
type(ForestTable[0])

pandas.core.frame.DataFrame

In [9]:
ForestTable[0]

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                    Tuvalu      0.00           2018 est.
200   201      United Arab Emirates      0.00           2018 est.
201   202                Uzbekistan      0.00           2018 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                 West Bank      0.00           2018 est.

[204 rows x 4 columns]

In [8]:
ForestTable[2]

IndexError: list index out of range

In [10]:
DFforest=ForestTable[0].copy()

In [11]:
DFforest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [12]:
DFforest.columns.to_list()

['Rank', 'Country', '% of GDP', 'Date of Information']

In [13]:
bye=[3]
DFforest.drop(columns=DFforest.columns[bye],inplace=True)
DFforest

     Rank                   Country  % of GDP
0       1           Solomon Islands     20.27
1       2                   Liberia     13.27
2       3                   Burundi     10.31
3       4             Guinea-Bissau      9.24
4       5  Central African Republic      8.99
..    ...                       ...       ...
199   200                    Tuvalu      0.00
200   201      United Arab Emirates      0.00
201   202                Uzbekistan      0.00
202   203            Virgin Islands      0.00
203   204                 West Bank      0.00

[204 rows x 3 columns]

In [15]:
DFforest.columns.to_list()

['Rank', 'Country', '% of GDP']

In [16]:
stripSeveral=lambda x: x.str.strip()

In [17]:
DFforest.apply(stripSeveral)

AttributeError: Can only use .str accessor with string values!

In [33]:
# How do I apply StringSeveral to select columns? Nvm--did it below!

In [28]:
DFforest.iloc[:,1]

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [29]:
DFforest.iloc[:,0]

0        1
1        2
2        3
3        4
4        5
      ...
199    200
200    201
201    202
202    203
203    204
Name: Rank, Length: 204, dtype: int64

In [30]:
DFforest.dtypes

Rank          int64
Country      object
% of GDP    float64
dtype: object

In [31]:
DFforest.iloc[:,1:].apply(lambda x:print(x.dtype))

object
float64

Country     None
% of GDP    None
dtype: object

In [32]:
stripSeveral=lambda x: x.strip()
DFforest.iloc[:,1].apply(stripSeveral)

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [23]:
DFforest.iloc[:,1]=DFforest.iloc[:,1].apply(stripSeveral)

In [24]:
DFforest.iloc[:,1]

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [25]:
DFforest.Rank.value_counts()

1      1
141    1
131    1
132    1
133    1
      ..
71     1
72     1
73     1
74     1
204    1
Name: Rank, Length: 204, dtype: int64

In [26]:
DFforest.Country.value_counts()

Solomon Islands    1
Japan              1
United States      1
Yemen              1
Dominica           1
                  ..
Indonesia          1
Cabo Verde         1
Serbia             1
Angola             1
West Bank          1
Name: Country, Length: 204, dtype: int64

In [36]:
forestFQ=DFforest.Country.value_counts()
forestFQ

Solomon Islands    1
Japan              1
United States      1
Yemen              1
Dominica           1
                  ..
Indonesia          1
Cabo Verde         1
Serbia             1
Angola             1
West Bank          1
Name: Country, Length: 204, dtype: int64

In [37]:
forestFQ[forestFQ==1]

Solomon Islands    1
Japan              1
United States      1
Yemen              1
Dominica           1
                  ..
Indonesia          1
Cabo Verde         1
Serbia             1
Angola             1
West Bank          1
Name: Country, Length: 204, dtype: int64

In [38]:
badLevelsforest=forestFQ[forestFQ==1].index.to_list()
badLevelsforest

['Solomon Islands',
 'Japan',
 'United States',
 'Yemen',
 'Dominica',
 'Dominican Republic',
 'France',
 'Germany',
 'Tonga',
 'Azerbaijan',
 'Belgium',
 'Denmark',
 'Jordan',
 'Trinidad and Tobago',
 'Micronesia, Federated States of',
 'Saint Vincent and the Grenadines',
 'Spain',
 'Bahamas, The',
 'Barbados',
 'Greece',
 'Iran',
 'Ireland',
 'Italy',
 'Korea, South',
 'Kiribati',
 'Norway',
 'Liberia',
 'Argentina',
 'Australia',
 'Morocco',
 'Portugal',
 'Timor-Leste',
 'Peru',
 'Algeria',
 'Colombia',
 'Hungary',
 'Mexico',
 'Pakistan',
 'Seychelles',
 'Brunei',
 'Bangladesh',
 'Canada',
 'China',
 'Panama',
 'Turkey (Turkiye)',
 'Austria',
 'Georgia',
 'Cuba',
 'Libya',
 'Sri Lanka',
 'Kyrgyzstan',
 'Luxembourg',
 'Netherlands',
 'Puerto Rico',
 'Macau',
 'Maldives',
 'Malta',
 'Marshall Islands',
 'Mauritius',
 'Monaco',
 'Nauru',
 'Northern Mariana Islands',
 'Oman',
 'Palau',
 'Qatar',
 'Saint Lucia',
 'Saint Kitts and Nevis',
 'San Marino',
 'Saudi Arabia',
 'Singapore',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'United Arab Emirates',
 'Uzbekistan',
 'Virgin Islands',
 'Liechtenstein',
 'Lebanon',
 'Kuwait',
 'Kosovo',
 'Switzerland',
 'United Kingdom',
 'American Samoa',
 'Andorra',
 'Antigua and Barbuda',
 'Aruba',
 'Bahrain',
 'Cayman Islands',
 'Curacao',
 'Cyprus',
 'Faroe Islands',
 'Gaza Strip',
 'Greenland',
 'Grenada',
 'Guam',
 'Hong Kong',
 'Iceland',
 'Iraq',
 'Isle of Man',
 'Israel',
 'Kazakhstan',
 'Mongolia',
 'India',
 'North Macedonia',
 'Burma',
 'Gambia, The',
 'Suriname',
 'Eswatini',
 'Benin',
 'Tanzania',
 'Papua New Guinea',
 "Cote d'Ivoire",
 'Mali',
 'Sao Tome and Principe',
 'Bhutan',
 'Zimbabwe',
 'Tajikistan',
 'Malaysia',
 'Uruguay',
 'Equatorial Guinea',
 'Vietnam',
 'Laos',
 'Senegal',
 'Comoros',
 'Kenya',
 'Mauritania',
 'Nicaragua',
 'Cameroon',
 'Gabon',
 'South Sudan',
 'Sudan',
 'Burundi',
 'Guinea-Bissau',
 'Central African Republic',
 'Congo, Democratic Republic of the',
 'Uganda',
 'Sierra Leone',
 'Mozambique',
 'Malawi',
 'Ethiopia',
 'Guinea',
 'Guyana',
 'Burkina Faso',
 'Zambia',
 'Niger',
 'Madagascar',
 'Togo',
 'Chad',
 'Rwanda',
 'Ghana',
 'Lesotho',
 'Congo, Republic of the',
 'Paraguay',
 'Belarus',
 'Jamaica',
 'Bulgaria',
 'Belize',
 'Lithuania',
 'Russia',
 'Armenia',
 'Ecuador',
 'Samoa',
 'Croatia',
 'Djibouti',
 'Moldova',
 'Botswana',
 'Slovakia',
 'Nigeria',
 'Sweden',
 'Tunisia',
 'Afghanistan',
 'Slovenia',
 'Albania',
 'Philippines',
 'Czechia',
 'Poland',
 'Romania',
 'Egypt',
 'Bolivia',
 'Ukraine',
 'Thailand',
 'Finland',
 'Honduras',
 'Estonia',
 'Latvia',
 'Cambodia',
 'Costa Rica',
 'Guatemala',
 'Haiti',
 'Brazil',
 'El Salvador',
 'Fiji',
 'Vanuatu',
 'New Zealand',
 'Bosnia and Herzegovina',
 'Chile',
 'Namibia',
 'Nepal',
 'Montenegro',
 'Indonesia',
 'Cabo Verde',
 'Serbia',
 'Angola',
 'West Bank']

In [39]:
DFforest[DFforest.Country.isin(badLevelsforest)]

     Rank                   Country  % of GDP
0       1           Solomon Islands     20.27
1       2                   Liberia     13.27
2       3                   Burundi     10.31
3       4             Guinea-Bissau      9.24
4       5  Central African Republic      8.99
..    ...                       ...       ...
199   200                    Tuvalu      0.00
200   201      United Arab Emirates      0.00
201   202                Uzbekistan      0.00
202   203            Virgin Islands      0.00
203   204                 West Bank      0.00

[204 rows x 3 columns]

In [40]:
DFforest=DFforest[~DFforest.Country.isin(badLevelsforest)]
DFforest

Empty DataFrame
Columns: [Rank, Country, % of GDP]
Index: []

In [41]:
DFforest

Empty DataFrame
Columns: [Rank, Country, % of GDP]
Index: []

In [42]:
# oops

In [43]:
forestDF=ForestTable[0].copy()

In [44]:
forestDF.drop(columns=forestDF.columns[bye],inplace=True)
forestDF

     Rank                   Country  % of GDP
0       1           Solomon Islands     20.27
1       2                   Liberia     13.27
2       3                   Burundi     10.31
3       4             Guinea-Bissau      9.24
4       5  Central African Republic      8.99
..    ...                       ...       ...
199   200                    Tuvalu      0.00
200   201      United Arab Emirates      0.00
201   202                Uzbekistan      0.00
202   203            Virgin Islands      0.00
203   204                 West Bank      0.00

[204 rows x 3 columns]

In [45]:
forestDF.iloc[:,1].apply(stripSeveral)

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [46]:
ForestFQ=forestDF.Country.value_counts()
ForestFQ

Solomon Islands    1
Japan              1
United States      1
Yemen              1
Dominica           1
                  ..
Indonesia          1
Cabo Verde         1
Serbia             1
Angola             1
West Bank          1
Name: Country, Length: 204, dtype: int64

In [47]:
ForestFQ=forestDF.Rank.value_counts()
ForestFQ

1      1
141    1
131    1
132    1
133    1
      ..
71     1
72     1
73     1
74     1
204    1
Name: Rank, Length: 204, dtype: int64

In [48]:
ForestFQ=forestDF.Country.value_counts()
ForestFQ

Solomon Islands    1
Japan              1
United States      1
Yemen              1
Dominica           1
                  ..
Indonesia          1
Cabo Verde         1
Serbia             1
Angola             1
West Bank          1
Name: Country, Length: 204, dtype: int64

In [49]:
# not going to delete the rows with '1' values again...

In [50]:
forestDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [51]:
forestDF.columns.str.lower()

Index(['rank', 'country', '% of gdp'], dtype='object')

In [52]:
forestDF.columns.str.upper()

Index(['RANK', 'COUNTRY', '% OF GDP'], dtype='object')

In [53]:
# I do not think I need to format my columns... if anything, I would like to rename % of GDP

In [54]:
forestDF.to_csv("forestindex.csv",index=False)
forestcsv=pd.read_csv('forestindex.csv')
forestcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [55]:
forestDF.to_pickle("forestindex.pkl")
forestpkl=pd.read_pickle('forestindex.pkl')
forestpkl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      204 non-null    int64
 1   Country   204 non-null    object
 2   % of GDP  204 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.9+ KB

In [56]:
# Why are they identical?

In [57]:
# 2 Revenue from Coal Resources

In [58]:
from IPython.display import IFrame
Coal="https://www.cia.gov/the-world-factbook/field/revenue-from-coal/country-comparison"
IFrame(Coal, width=690, height=12486)

In [59]:
coalTable=pd.read_html(Coal,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [60]:
coalTable[0]

     Rank               Country  % of GDP Date of Information
0       1              Mongolia      8.62           2018 est.
1       2            Mozambique      4.17           2018 est.
2       3          South Africa      2.40           2018 est.
3       4                 India      1.15           2018 est.
4       5             Indonesia      1.06           2018 est.
..    ...                   ...       ...                 ...
181   182  United Arab Emirates      0.00           2018 est.
182   183        United Kingdom      0.00           2018 est.
183   184               Uruguay      0.00           2018 est.
184   185               Vanuatu      0.00           2018 est.
185   186                 Yemen      0.00           2018 est.

[186 rows x 4 columns]

In [61]:
DFcoal=coalTable[0].copy()

In [62]:
DFcoal.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [63]:
byecoal=[3]
DFcoal.drop(columns=DFcoal.columns[byecoal],inplace=True)
DFcoal

     Rank               Country  % of GDP
0       1              Mongolia      8.62
1       2            Mozambique      4.17
2       3          South Africa      2.40
3       4                 India      1.15
4       5             Indonesia      1.06
..    ...                   ...       ...
181   182  United Arab Emirates      0.00
182   183        United Kingdom      0.00
183   184               Uruguay      0.00
184   185               Vanuatu      0.00
185   186                 Yemen      0.00

[186 rows x 3 columns]

In [64]:
DFcoal.iloc[:,1].apply(stripSeveral)

0                  Mongolia
1                Mozambique
2              South Africa
3                     India
4                 Indonesia
               ...
181    United Arab Emirates
182          United Kingdom
183                 Uruguay
184                 Vanuatu
185                   Yemen
Name: Country, Length: 186, dtype: object

In [65]:
DFcoal.iloc[:,1]

0                  Mongolia
1                Mozambique
2              South Africa
3                     India
4                 Indonesia
               ...
181    United Arab Emirates
182          United Kingdom
183                 Uruguay
184                 Vanuatu
185                   Yemen
Name: Country, Length: 186, dtype: object

In [66]:
DFcoal.iloc[:,:3]

     Rank               Country  % of GDP
0       1              Mongolia      8.62
1       2            Mozambique      4.17
2       3          South Africa      2.40
3       4                 India      1.15
4       5             Indonesia      1.06
..    ...                   ...       ...
181   182  United Arab Emirates      0.00
182   183        United Kingdom      0.00
183   184               Uruguay      0.00
184   185               Vanuatu      0.00
185   186                 Yemen      0.00

[186 rows x 3 columns]

In [67]:
FQcoal=DFcoal.value_counts()
FQcoal

Rank  Country   % of GDP
1     Mongolia  8.62        1
128   Liberia   0.00        1
119   Japan     0.00        1
120   Jordan    0.00        1
121   Kenya     0.00        1
                           ..
65    Belgium   0.00        1
66    Belize    0.00        1
67    Benin     0.00        1
68    Bhutan    0.00        1
186   Yemen     0.00        1
Length: 186, dtype: int64

In [68]:
DFcoal.iloc[:,2]

0      8.62
1      4.17
2      2.40
3      1.15
4      1.06
       ...
181    0.00
182    0.00
183    0.00
184    0.00
185    0.00
Name: % of GDP, Length: 186, dtype: float64

In [69]:
DFcoal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      186 non-null    int64
 1   Country   186 non-null    object
 2   % of GDP  186 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.5+ KB

In [70]:
DFcoal.columns.str.upper()

Index(['RANK', 'COUNTRY', '% OF GDP'], dtype='object')

In [71]:
DFcoal.to_csv("CoalRev.csv",index=False)

In [72]:
# 3 Energy Consumption per Capita

In [73]:
from IPython.display import IFrame
energy="https://www.cia.gov/the-world-factbook/field/energy-consumption-per-capita/country-comparison"
IFrame(energy, width=690, height=13006)

In [74]:
energyTable=pd.read_html(energy,
                        header=0,
                        flavor='bs4',
                        attrs={'content-table table-auto'})

In [75]:
energyTable[0]

,Rank,Country,Btu/person,Date of Information
0,1,Qatar,723582000.0,2019 est.
1,2,Singapore,639951000.0,2019 est.
2,3,Bahrain,547976000.0,2019 est.
3,4,United Arab Emirates,471788000.0,2019 est.
4,5,Brunei,415184000.0,2019 est.
...,...,...,...,...
207,208,"Saint Helena, Ascension, and Tristan da Cunha",0.0,2019 est.
208,209,Saint Pierre and Miquelon,0.0,2019 est.
209,210,Turks and Caicos Islands,0.0,2019 est.
210,211,Tuvalu,0.0,2019 est.
211,212,Wake Island,0.0,2019 est.

In [76]:
DFenergy=energyTable[0].copy()

In [77]:
byeenergy=[3]
DFenergy.drop(columns=DFenergy.columns[byeenergy],inplace=True)
DFenergy

     Rank                                        Country   Btu/person
0       1                                          Qatar  723582000.0
1       2                                      Singapore  639951000.0
2       3                                        Bahrain  547976000.0
3       4                           United Arab Emirates  471788000.0
4       5                                         Brunei  415184000.0
..    ...                                            ...          ...
207   208  Saint Helena, Ascension, and Tristan da Cunha          0.0
208   209                      Saint Pierre and Miquelon          0.0
209   210                       Turks and Caicos Islands          0.0
210   211                                         Tuvalu          0.0
211   212                                    Wake Island          0.0

[212 rows x 3 columns]

In [78]:
DFenergy.iloc[:,1].apply(stripSeveral)

0                                              Qatar
1                                          Singapore
2                                            Bahrain
3                               United Arab Emirates
4                                             Brunei
                           ...
207    Saint Helena, Ascension, and Tristan da Cunha
208                        Saint Pierre and Miquelon
209                         Turks and Caicos Islands
210                                           Tuvalu
211                                      Wake Island
Name: Country, Length: 212, dtype: object

In [79]:
DFenergy.iloc[:,1]

0                                              Qatar
1                                          Singapore
2                                            Bahrain
3                               United Arab Emirates
4                                             Brunei
                           ...
207    Saint Helena, Ascension, and Tristan da Cunha
208                        Saint Pierre and Miquelon
209                         Turks and Caicos Islands
210                                           Tuvalu
211                                      Wake Island
Name: Country, Length: 212, dtype: object

In [80]:
DFenergy.iloc[:,:3]

     Rank                                        Country   Btu/person
0       1                                          Qatar  723582000.0
1       2                                      Singapore  639951000.0
2       3                                        Bahrain  547976000.0
3       4                           United Arab Emirates  471788000.0
4       5                                         Brunei  415184000.0
..    ...                                            ...          ...
207   208  Saint Helena, Ascension, and Tristan da Cunha          0.0
208   209                      Saint Pierre and Miquelon          0.0
209   210                       Turks and Caicos Islands          0.0
210   211                                         Tuvalu          0.0
211   212                                    Wake Island          0.0

[212 rows x 3 columns]

In [81]:
FQenergy=DFenergy.value_counts()
FQenergy

Rank  Country                 Btu/person
1     Qatar                   723582000.0    1
134   Honduras                19800000.0     1
136   Eswatini                19371000.0     1
137   Philippines             19261000.0     1
138   Sri Lanka               17268000.0     1
                                            ..
74    British Virgin Islands  80136000.0     1
75    Mauritius               79448000.0     1
76    Turkey (Turkiye)        79126000.0     1
77    Argentina               79083000.0     1
212   Wake Island             0.0            1
Length: 212, dtype: int64

In [82]:
DFenergy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        212 non-null    int64
 1   Country     212 non-null    object
 2   Btu/person  212 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 5.1+ KB

In [83]:
DFenergy.columns.str.upper()

Index(['RANK', 'COUNTRY', 'BTU/PERSON'], dtype='object')

In [84]:
DFenergy.to_csv("energy.csv",index=False)