In [1]:
# 1 Revenue from Forest Resources
ForestLink="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison"

# 2 Revenue from Coal Resources

CoalLink="https://www.cia.gov/the-world-factbook/field/revenue-from-coal/country-comparison"

# 3 Energy Consumption per Capita
EnergyLink="https://www.cia.gov/the-world-factbook/field/energy-consumption-per-capita/country-comparison"

import pandas as pd

ForestTables=pd.read_html(ForestLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'}) 

CoalTables=pd.read_html(CoalLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

EnergyTables=pd.read_html(EnergyLink,
                        header=0,
                        flavor='bs4',
                        attrs={'class':'content-table table-auto'})

In [2]:
len(ForestTables), len(CoalTables), len(EnergyTables)

(1, 1, 1)

In [3]:
forest=ForestTables[0].copy()
coal=CoalTables[0].copy()
energy=EnergyTables[0].copy()

In [4]:
forest.columns, coal.columns,energy.columns

(Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object'),
 Index(['Rank', 'Country', 'Btu/person', 'Date of Information'], dtype='object'))

In [5]:
forest.rename(columns={'% of GDP':'GDP'},inplace=True)
coal.rename(columns={'% of GDP':'GDP'},inplace=True)
energy.rename(columns={'Btu/person':'Btu'},inplace=True)

In [6]:
Bye=['Rank', 'Date of Information']
forest.drop(columns=Bye,inplace=True)
coal.drop(columns=Bye,inplace=True)
energy.drop(columns=Bye,inplace=True)

In [7]:
forest.info(),
coal.info(),
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  204 non-null    object
 1   GDP      204 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  186 non-null    object
 1   GDP      186 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  212 non-null    object
 1   Btu      212 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.4+ KB

In [8]:
forest.Country=forest.Country.str.strip()
coal.Country=coal.Country.str.strip()
energy.Country=energy.Country.str.strip()

In [9]:
forest.shape,coal.shape,energy.shape

((204, 2), (186, 2), (212, 2))

In [10]:
coal.merge(forest).merge(energy).shape

(27, 3)

In [11]:
CoalForestEnergy=coal.merge(forest).merge(energy)
CoalForestEnergy

                     Country   GDP          Btu
0                     Canada  0.08  403700000.0
1                       Iran  0.01  145540000.0
2             American Samoa  0.00   88796000.0
3        Antigua and Barbuda  0.00  107154000.0
4                    Bahrain  0.00  547976000.0
5             Cayman Islands  0.00  175578000.0
6                     Cyprus  0.00  133920000.0
7                    Grenada  0.00   39799000.0
8                       Guam  0.00  152767000.0
9                  Hong Kong  0.00  172009000.0
10                      Iraq  0.00   63174000.0
11                    Israel  0.00  113273000.0
12                    Kuwait  0.00  381985000.0
13                   Lebanon  0.00   53528000.0
14                     Macau  0.00   81407000.0
15                  Maldives  0.00   59690000.0
16                     Malta  0.00  267739000.0
17                 Mauritius  0.00   79448000.0
18                      Oman  0.00  292022000.0
19               Puerto Rico  0.00   94379000.0
20                     Qatar  0.00  723582000.0
21     Saint Kitts and Nevis  0.00   71960000.0
22              Saudi Arabia  0.00  296949000.0
23                 Singapore  0.00  639951000.0
24              Turkmenistan  0.00  330507000.0
25  Turks and Caicos Islands  0.00          0.0
26      United Arab Emirates  0.00  471788000.0

In [12]:
set(coal.Country)-set(energy.Country)

{'Curacao', 'Greenland', 'Iceland', 'Trinidad and Tobago'}

In [13]:
set(coal.Country)-set(forest.Country)

{'South Africa'}

In [14]:
(set(energy.Country)-set(coal.Country)) & (set(forest.Country)-set(coal.Country))

{'Aruba',
 'Egypt',
 'Faroe Islands',
 'Gaza Strip',
 'Laos',
 'Micronesia, Federated States of',
 'Nauru',
 'Northern Mariana Islands',
 'South Sudan',
 'Tuvalu',
 'West Bank'}

In [15]:
CoalForestEnergy.to_csv('CoalForestEnergy.csv',index=False)